* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.w {
  width: 1200px;
  margin: auto;
}
body {
  background-color: #f3f5f7;
  height: 3000px;
}
/* 1.头部区域 */
.header {
  height: 42px;
  /* 注意此地方会层叠w里面的margin */
  margin: 30px auto;
}
.logo {
  float: left;
  width: 198px;
  height: 42px;
}
.nav {
  float: left;
  margin-left: 60px;
}
.nav ul li {
  float: left;
  margin: 0 15px;
}
.nav ul li a {
  display: block;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  font-size: 18px;
  color: #050505;
}
.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}
/*  search 搜索模块 */
.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 70px;
}
.search input {
  float: left;
  width: 345px;
  height: 40px;
  border: 1px solid #00a4ff;
  /* 去掉右侧边框 */
  border-right: 0;
  /* 搜索框内字体颜色和大小 */
  color: #bfbfbf;
  font-size: 14px;
  /* 让框内字体距离边框15像素   要在总宽度上面减去15px=345px */
  padding-left: 15px;
}
.search button {
  float: left;
  width: 50px;
  height: 42px;
  /* button按钮默认有个边框需要手动去掉 */
  border: 0;
  background: url(./img/button.png);
}
.user {
  float: right;
  /* 文字垂直居中 */
  line-height: 42px;
  /* 使用户模块距离右侧30px */
  margin-right: 30px;
  font-size: 14px;
  color: #666;
}
/* 2.banner区域 */
.banner {
  height: 421px;
  background-color: #1c036c;
}
.banner .w {
  height: 421px;
  background: url(./img/banner2.png) no-repeat top center;
}
.subnav {
  float: left;
  width: 190px;
  height: 421px;
  /* 左侧导航栏背景半透明 */
  background: rgba(0, 0, 0, 0.3);
}
.subnav ul li {
  height: 45px;
  /* 文字垂直居中 */
  line-height: 45px;
  padding: 0 20px;
}
.subnav ul li a {
  font-size: 14px;
  color: #fff;
}
/* 右侧的小三角右浮动 */
.subnav ul li a span {
  float: right;
}
.subnav ul li a:hover {
  color: #00a4ff;
}
.course {
  float: right;
  width: 230px;
  height: 300px;
  background-color: #fff;
  /* 浮动的盒子不会有外边距合并的问题 */
  margin-top: 50px;
}
.course h2 {
  height: 48px;
  background-color: #9bceea;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
}
.bd {
  padding: 0 20px;
}
.bd ul li {
  padding: 14px 0;
  border-bottom: 1px solid #ccc;
}
.bd ul li h4 {
  font-size: 16px;
  color: #4e4e4e;
}
.bd ul li p {
  font-size: 12px;
  color: #a5a5a5;
}
.bd .more {
  /* 行内元素转为块元素 */
  display: block;
  height: 38px;
  border: 1px solid #00a4ff;
  margin-top: 5px;
  /* 文字水平居中 */
  text-align: center;
  /* 文字垂直居中 */
  line-height: 38px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: 700;
}
/* 3.精品推荐模块 */
.goods {
  height: 60px;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
  /* 垂直居中  行高会继承给h3  ul mod  */
  line-height: 60px;
}
.goods h3 {
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color: #00a4ff;
}
.goods ul {
  float: left;
  margin-left: 30px;
}
.goods ul li {
  float: left;
}
/* 链接给内边距并且加上左边框 */
.goods ul li a {
  padding: 0 30px;
  font-size: 16px;
  color: black;
  border-left: 1px solid #ccc;
}
.mod {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  color: #00a4ff;
}
.box {
  margin-top: 30px;
}
.box-hd {
  height: 45px;
}
.box-hd h3 {
  float: left;
  font-size: 20px;
  color: #494949;
}
.box-hd a {
  float: right;
  font-size: 12px;
  color: #a5a5a5;
  margin-top: 10px;
  margin-right: 30px;
}
/* 把li的父亲ul修改的足够宽，一行能装5个盒子就可以不换行了 */
.box-bd ul {
  width: 1225px;
}
.box-bd ul li {
  float: left;
  width: 228px;
  height: 270px;
  background-color: #fff;
  /* 给每一个li之间15像素的间距 */
  margin-right: 15px;
  margin-bottom: 15px;
}
/* 将li里面的图片大小强制修改为和li一样的宽度 */
.box-bd ul li img {
  width: 100%;
}
.box-bd ul li h4 {
  margin: 20px 20px 20px 25px;
  font-size: 14px;
  font-weight: 400;
  color: #050505;
}
.box-bd .info {
  margin: 0 20px 0 25px;
  font-size: 12px;
  color: #999;
}
.box-bd .info span {
  color: #ff7c2d;
}
